<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <br>
  
    <div class="header_div">
      <h1><%=YAML.load(session[:current_user]).name%></h1><br>
      <p><%=YAML.load(session[:current_user]).description%></p><br>
    </div>

        <form action="new_day" method="post">
            <input type="submit" value="Create New Campaign Day" />
        </form>

        <% YAML.load(session[:current_user]).days.each do |x| %>
              <div class=campaign>
                <h2> Day: <%=x.day_count%> - <%= x.title %> </h2>
                <p> <%= x.description %> </p>
              </div>
        <% end %>

  </body>
</html>
